@model IEnumerable<DAL.Brands>

<div>
    <hr />
    <h4 style="color: #009970; text-align:center;font-size:30px">All Brands</h4>
    <hr />
</div>

<p style="font-size: 20px;margin-left:90px;font-weight:bold">
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<table class="table" style="margin-left: 170px;width:900px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th></th>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td style="text-align:right">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })

            </td>
        </tr>
    }

    </table>
    <br />